/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Yeseva-One {
  font-family: "Yeseva One", serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/* common styles  */
.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
.section-heading {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}

.section-description {
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3ec4;
}

.text-primary {
  color: #ffad5a;
}

.btn {
  padding: 12px;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}

/* banner-styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  padding: 20px;

  /* width: 1128px;
  margin: 0 auto; */
}

.banner-heading {
  font-size: 58px;
  font-weight: 500;
}

.banner > div {
  width: 50%;
}
.banner img {
  width: 100%;
}

.banner-extra-info {
  color: #434343;
  margin-top: 30px;
}

/* main  */

/* my mission styles  */
.mission-container {
}
.mission-card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.mission-card {
  background-color: rgba(79, 157, 166, 0.1);
  width: 340px;
  height: 320px;
  border-radius: 26px;
  padding: 40px 30px;
}

.mission-card p {
  margin-bottom: -20px;
}
#card2-bg {
  background-color: rgba(255, 89, 89, 0.1);
}
#card3-bg {
  background-color: #fff4d6;
}
.mission-card h4 {
  font-size: 24px;
  font-weight: 600;
}
.mission-card img {
  width: 140px;
}

/** Responsive media query */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
  .banner .banner-content {
    width: 100%;
  }
  .banner-heading {
    font-size: 25px;
  }
  .banner .banner-profile-pic {
    width: 100%;
  }
  .banner img {
    width: 100%;
  }

  /* mission-card-container  */
}

/* for tablet devices banner */
@media screen and (min-width: 577px) and (max-width: 991px) {
  .banner {
    /* flex-direction: column; */
    gap: 10px;
  }

  .banner .banner-content {
    width: 50%;
  }

  .banner-heading {
    font-size: 40px;
  }
}

/* for laptop devices banner*/

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .banner {
    gap: 10px;
  }

  .banner .banner-content {
    width: 50%;
  }
}

/* for desktop */
@media screen and (min-width: 1401px) {
  .banner {
    width: 1128px;
    margin: 0 auto;
  }
}
