/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Yeseva-One {
  font-family: "Yeseva One", serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

/* common styles  */
.section-heading {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}

.section-description {
  font-size: 18px;
  font-weight: 500;
  color: #3e3e3e;
}

.text-primary {
  color: #ffad5a;
}

.btn {
  padding: 12px;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 5px;
  border: none;
}
/* header styles */
.header {
  width: 1128px;
  margin: 0 auto;
}
/* banner-styles */
.banner {
  display: flex;
  align-items: center;
  gap: 130px;
}
.banner > div {
  width: 50%;
}

.banner img {
  width: 100%;
}
