/* google font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.font-inter {
  font-family: "Inter", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Yeseva-One {
  font-family: "Yeseva One", serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-lobster {
  font-family: "Lobster", sans-serif;
}
/* common styles  */
.hidden {
  display: none;
}

.text-center {
  text-align: center;
}
.section-heading {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
}
.section-heading2 {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}
.section-description {
  font-size: 20px;
  font-weight: 500;
  color: #3e3e3ec4;
}

.text-primary {
  color: #ffad5a;
}

.btn {
  padding: 5px 20px;
  background-color: #ff5959;
  color: #ffffff;
  border-radius: 7px;
  border: none;
}

/* banner-styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  padding: 20px;

  /* width: 1128px;
  margin: 0 auto; */
}

.banner-heading {
  font-size: 58px;
  font-weight: 500;
}

.banner > div {
  width: 50%;
}
.banner img {
  width: 100%;
}

.banner-extra-info {
  color: #434343;
  margin-top: 30px;
}

/* main  */

/* my mission styles  */
.mission-card-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 24px;
}
.mission-card {
  background-color: rgba(79, 157, 166, 0.1);
  width: 340px;
  border-radius: 26px;
  padding: 40px 30px;
}

.mission-card p {
  margin-bottom: -20px;
}
#card2-bg {
  background-color: rgba(255, 89, 89, 0.1);
}
#card3-bg {
  background-color: #fff4d6;
}
.mission-card h4 {
  font-size: 24px;
  font-weight: 600;
}
.mission-card img {
  width: 140px;
}

/* develop section styles */

.develop-section {
  margin-top: 86px;
  display: flex;
  gap: 70px;
  align-items: center;
}
.develop-section > div {
  width: 100%;
}
.develop-section img {
  width: 100%;
}
/* global community */
.global-community {
  display: flex;
  gap: 110px;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}
.global-community .section-content {
  width: 50%;
}
.global-community .global-community-image {
  width: 50%;
}
.global-community img {
  width: 100%;
}

/* corona app section styles */
.corona-app-card-container {
  display: flex;
  gap: 160px;
  justify-content: space-between;
  align-items: center;
}

.corona-app-card-container .corona-app-image {
  width: 50%;
}

.corona-app-card-container img {
  padding: 80px 690px 80px 100px;
  width: 70%;
}
.corona-app-card-container .corona-app-content {
  width: 80%;
}

/* main end */

.footer {
  padding: 25px 50px;
  background-color: #13103a;
  margin-top: 50px;
}

.footer .gray-300 {
  color: rgba(217, 219, 225, 1);
}
.footer .red {
  color: #ff5959;
}
/** Responsive media query */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
  .banner .banner-content {
    width: 100%;
  }
  .banner-heading {
    font-size: 25px;
  }
  .banner .banner-profile-pic {
    width: 100%;
  }
  .banner img {
    width: 100%;
  }

  /**Responsive mission-card-container MOBILE  */

  .mission-card-container {
    flex-direction: column;
  }

  /**Responsive DEVELOP section MOBILE*/
  .develop-section {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .develop-section img {
    width: 100%;
  }

  /**Responsive global-community section MOBILE*/
  .global-community {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 70px;
    gap: 60px;
  }

  .global-community .section-content {
    width: 100%;
  }
  .global-community .global-community-image {
    width: 100%;
  }
  .global-community img {
    width: 100%;
  }

  /**Responsive corona app section MOBILE*/
  .corona-app-card-container {
    flex-direction: column;
    gap: 10px;
  }

  .section-heading {
    font-size: 26px;
  }

  .corona-app-card-container .corona-app-image {
    width: 100%;
  }

  .corona-app-card-container img {
    width: 100%;
    padding: 10px;
  }
}

/*responsive for footer MOBILE  */
.footer {
  margin-bottom: 200px;
  padding: 5px 15px;
}

.footer .section-heading2 {
  font-size: 25px;
}

/**Responsive for tablet devices banner */
@media screen and (min-width: 577px) and (max-width: 991px) {
  .banner {
    /* flex-direction: column; */
    gap: 10px;
  }

  .banner .banner-content {
    width: 50%;
  }

  .banner-heading {
    font-size: 40px;
  }
}

/**Responsive for laptop devices banner*/

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .banner {
    gap: 10px;
  }

  .banner .banner-content {
    width: 50%;
  }
}

/**Responsive for desktop */
@media screen and (min-width: 1401px) {
  .banner,
  .mission-card-container,
  .develop-section-container,
  .global-community-container,
  .corona-app-container,
  .footer {
    width: 1128px;
    margin: 0 auto;
  }

  hr {
    display: none;
  }
}
